* {
  box-sizing: border-box;
}

form {
  background: white;
  width: 100%;
}

.form-field {
  position: relative;
}

.container {
  padding: 8px;
  display: 100%;
  justify-content: space-around;
}

.containerin {
  padding: 4px;
  display: 80%;
}

.title {
  font-size: 2.0rem;
  color: #5f6988;
  font-weight: 300;
  border-bottom: 1px solid #dbe3ec;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
}

.formwrapper {
  background: white;
  width: 400px;
  box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
  padding: 20px;
}

label {
  font-size: 1.2em;
  color: #5f6988;
  margin-bottom: 3px;
  display: inline-block;
  font-weight: 300;
  padding: 12px 12px 12px 0;
}

input, textarea {
  padding: 10px 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  font-family: 'Poppins', sans-serif;
  transition: all .3s ease-out;
  font-size: 1.0em;
  outline-color: transparent;
  outline-style: none;
  resize: vertical;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-36 {
  float: left;
  width: 36%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

select::-ms-expand {
  display: none;
}

select {
  padding: 10px 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  font-family: 'Poppins', sans-serif;
  transition: all .3s ease-out;
  font-size: 1.0em;
  outline-color: transparent;
  outline-style: none;
  resize: vertical;


  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;

  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;

}



input[type="text"]::placeholder {
  color: #d4d9e3;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
  border-color: #5eb9d7;
  background: #d9f6ff;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: white;
  border-color: #5eb9d7;
  box-shadow: unset;
}

input[type=submit] {
  background: #5eb9d7;
  border: 0;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  font-weight: 400;
  border: 1px solid #5eb9d7;
  transition: all .3s ease-out;
}

input[type=submit]:hover {
  cursor: pointer;
  background: white;
  color: #5eb9d7;
}


.success-wrapper {
  background: white;
  width: 350px;
  box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
  padding: 50px;
}

.errors {
  list-style: none;
  margin: 10px 0;
  position: absolute;
  z-index: 10;
  right: -222px;
  top: 0;
  bottom: 0;
  background: #fae7ea;
  padding: 9px 15px;
  border-radius: 3px;
  border: 1px solid #e1c5c5;
  color: #8d7575;
  width: 182px;
  text-align: center;
  height: fit-content;
  margin: auto;
}

i {
  position: absolute;
  margin: auto;
  top: 4px;
  bottom: 0;
  right: 16px;
  height: fit-content;
  color: grey;
}

.g-recaptcha div {
  margin: auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input {
    width: 100%;
    margin-top: 0;
  }
  .formwrapper {
    width: 66%;
    float: left;
  }
}
