
.menu_bar {
    width: 100%;
    background-color: #26272b;
    margin-bottom: 20px;
}

.menu_span {
    font-size:25px;
    cursor:pointer;
    color: LightGray;
    margin-left: 50px;

  }

.menu_span:hover, .menu_span:focus {
  color: Orange;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 23px;
  color: Black;
  display: block;
  transition: 0.3s;
  margin-bottom:15px;
  background-color:Orange;
}

.overlay a:hover, .overlay a:focus {
  color: Green;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}


canvas{
  cursor: pointer;
}

#language {
    position: absolute;
    top: 0px;
    right: 0px;
    width: fit-content;
    block-size: fit-content
}