
.search_box{
  float: center;
  width: 100%;
  font-size:18px;
  border-color:orange;
  border-width:3px;
  border-radius:15px;
}


.filter_span {
    font-size:30px !important;
    cursor:pointer;
    color: orange;
    white-space: nowrap;
    margin: 5px;
    padding: 2px;
    border-width:0px;
    border-radius:13px;
  }

.filter_span:hover, .filter_span:focus {
  color: white;
  background-color:orange
}


#my_appointments {
    position: left;
    left: 0px;
    width: fit-content;
    block-size: fit-content
}