
body {
	#font-size:22px;
	#line-height: 32px;
	color: black;
	word-wrap:break-word !important;
    font-family: 'Quicksand', sans-serif;
    visibility: hidden;
}
html :last-child {
    margin-bottom:50px;
}
p, span, label{
white-space: initial;
  text-align: justify;
}

label {
    white-space:nowrap;
    font-weight:normal;
    }


input,
textarea,
select,
td{
  float: center;
  padding:2px;
  border-radius:6px;
  background-color: #d9edf7;

}

input:hover,
textarea:hover,
select:hover,
td:hover{
 background-color: #cbd1e7;
}

select{
  float: center;
  width: 300px;
  font-size:18px;
  padding:2px;
  border-radius:6px;
  outline:none;
}


textarea{
  float: center;
  width: 98%;
  padding:2px;
  border-radius:15px;
}

input[type="submit"]{
  height:30px;
  border-radius:10px;
 }

input[type='radio'] {
  border-radius: 100%;
  height: 18px;
  width: 18px;
 }

table{
width: 99%;
}

th {
color:black;
text-align:center;
border:1px solid  gray;
}

tr {
border:0px;
color:black;

}

td {
    text-align:center;
    border:1px solid  LightGray;
}


button{
  border:6px;
  float:center;
  border-radius:6px;
  color:black;
  #box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: LightGray;
  font-size:18px;

  }

button:hover, input[type='submit']:hover,
option:hover
{
  color:white;
  background-color: Orange;
}

.phone_link{
  float: left;
  padding-right:5px;
  border-radius:6px;
}
.info{
  color:Orange;
  font-size:6;
}


.no_wrap{
    white-space: nowrap;
    overflow: hidden;
}

/* Create two equal columns that floats next to each other */
.columnone{
  float: center;
  width: 100%;
  padding:10px;
  border-style: solid;
  border-color: #d9edf7;
  background-color:#d9edf7;
  margin-bottom: 0px;
  }

.column25 {
  float: left;
  width: 25%;
  padding: 10px;
  border-style: solid;
  border-style: #d9edf7;
  border-color: #d9edf7;
}

.column50 {
  float: left;
  width: 50%;
  padding: 10px;
  border-style: solid;
  border-style: #d9edf7;
  border-color: #d9edf7;
}


.column75 {
  float: left;
  width: 75%;
  padding: 10px;
  border-style: solid;
  border-style: #d9edf7;
  border-color: #d9edf7;
}


.column100 {
  float: left;
  width: 75%;
  padding: 10px;
  border-style: solid;
  border-style: #d9edf7;
  border-color: #d9edf7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Add Button */
.add {
  color: #599a59;
  float: Right;
  font-size: 18px;
  font-weight: bold;
  margin-right:30px;
  border-radius: 10px;
  margin: 2px;
}

.add:hover, .add:focus {
  color: #006400;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close, .remove_parent {
  color: DarkRed;
  float: Right;
  font-size: 26px;
  font-weight: bold;
  margin-right:30px;
}

.close:hover, .close:focus,
.remove_parent:hover, .remove_parent:focus {
  color: Red;
  text-decoration: none;
  cursor: pointer;
}

/* Create two equal columns that floats next to each other */
.columnonenobkg {
  width:99%;
  float:center;
  /*margin-left:15%;*/
}


.alert {
  padding:1px;
  border-radius: 2px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: solid;
}

.alert-success {
  border-color: lightGreen;
  background-color: lightGreen;
  color: white;
}

.alert-error {
  border-color: lightRed;
  background-color: LightRed;
  color: white;
}


.alert-info {
  border-color:orange;
  background-color: yellow;
  color: green;
}

.left {
      padding: 5px;
      text-align: left;
    }

.fadeout {
color : Gray
}

.red{
    color:red
}

.green{
    color:green
}

.animate {

  animation: myanimation 2s infinite;
}

@keyframes myanimation {
  50%{background-color: Orange}
}}

