{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Appointment Status
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h4 class="fadeout">View My Appointment </h4>
<label class="fadeout">Search your appointment:</label>
<form action="/appointments_status_page" method="GET">
    <input type="number" id="phone" name="phone" value="{{ phone }}"
           placeholder="{{_('phone')}}" title="invalid phone number"
           pattern="^(^\+251|^251|^0)?9\d{8}$" required>
    <input type="text" id="pincode" name="pincode" value="{{ pincode }}"
           placeholder="{{_('PIN-CODE')}}" title="should be capital letters and numbers only" pattern="^\S+\d+$"
           required>
    <input type="submit" value="&#128270;Click to search"/>
</form>

{% if appointment_data %}

<p class="fadeout"> Appointment Information</p>
<div class="columnone">
    <u>Full Name ሙሉ ስም</u>: {{ appointment_data['fullname']}}<br>
    <u>Phone ስልክ</u>: {{ appointment_data['phone']}}<br>
    <u>pincode</u>: {{ appointment_data['pincode']}}<br>
    <u>Appointment Date</u>: {{ appointment_data['complete_date']}}<br>
    <u>Status</u>: {{ appointment_data['status']}}

</div>

<p class="fadeout">Service Information</p>
<div class="columnone">
    <p>
        <u>Service አገልግሎት</u>: {{ service_data['name'] }}
    </p>
    {% if organization_data['requirements'] or service_data['requirements'] %}
    <u>Service requirements - ማሟላት ያለብዎት</u>:
    <ul class="columnone">
        {% for value in service_data['requirements'] %}
        <li>&#10004;{{value}}</li>
        {% endfor %}
        {% endif %}

    </ul>
</div>

<p class="fadeout">Organization Information</p>
<div class="columnone">
    <p>{{ organization_data['organization_id'] }}
        {{ organization_data['name'] }}<br>
        {{ organization_data['category_name'] }}<br>
        {{ organization_data['city'] }},
        {{ organization_data['wereda'] }},
        {{ organization_data['zone'] }},
        {{ organization_data['region'] }}<br>
        {{ organization_data['phone'] }} |
        {{ organization_data['email'] }}
    </p>
</div>

<hr>
<a class="add animate" href='{{google_event_link}}'>Add to my google reminder</a>
<span class="add animate"
      onclick="email_appointment_status('{{phone}}', '{{pincode}}', {{appointment_data['service_id']}})">Email me </span>
<a class="add animate" href="javascript:void(0);" onclick="window.print();">Print or Save</a>

{% elif pincode %}
<p class="fadeout"> No appointment by the given phone and pincode</p>
{% endif %}

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/appointments_status.js') }}"></script>
{% endblock %}


