{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Category Update
{% endblock %}

{% block content %}
<a href="/categories"> << back to categories page</a>

<h4 class="fadeout">Update Category</h4>
<span class="orange">Category_id : {{data['category_id']}}</span>
<form method="POST">
    <label for="name">Category Name / ምድብ ስም</label><br>
    <input type="text" id="name" name="name" value="{{data['name']}}"><br>
    <label for="desc">Your Description / መልእክትዎን ያስገቡ</label><br>
    <textarea id="desc" name="desc" rows="10">{{data['desc']}}</textarea>
    <input type="submit" value="Submit"/>

</form>

{% endblock %}



