{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Category New
{% endblock %}

{% block content %}
<a href="/categories"> << back to categories page</a>

<h4 class="fadeout">New Category</h4>

<form action="/categories_new" method="POST">
    <label for="name">Category Name / ምድብ ስም</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="desc">Your Description / መልእክትዎን ያስገቡ</label><br>
    <textarea id="desc" name="desc" rows="10"></textarea>
    <input type="submit" value="Submit"/>

</form>

{% endblock %}



