{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Categories
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h4 class="fadeout">All Categories</h4>

<table id="districts">
    <thead>
    <th>category_id</th>
    <th>Name</th>
    <th>Desc</th>
    <th>Delete</th>
    </thead>
    {% for data in datas['result'] %}
    <tr>
        <td class="left"><a href="/categories_update/{{ data['category_id']}}">{{ data['category_id']}}  <i class="fa edit_icon">&#xf040;edit</i></a></td>
        <td class="left">{{ data['name']}}</td>
        <td class="left">{{data['desc']}}</td>
        <td> <a href="#" onclick="delete_category({{ data['category_id']}})"><i class="delete fa fa-close">delete</i></a></td>
    </tr>
    {% endfor %}
</table>
<br><br>
<a class="add" href="/categories_new">Add new Category / አዲስ ምድብ ለመመዝገብ</a>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/categories.js') }}"></script>

{% endblock %}


