{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Comment
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h4 class="fadeout">Your Comment for Us</h4>
<center><label class="fadeout">Your comment, suggestion, or question is important for us</label></center>
<form action="/comments_post" method="POST">
    <label for="phone">{{_('phone')}}(optional)</label><br>
    <input type="number" id="phone" name="phone" pattern="^(^\+251|^251|^0)?9\d{8}$"
                   title="phone number should like 251910802032"><br>
     <label for="email">{{_('email')}}(optional)</label><br>
    <input type="email" id="email" name="email" title="email format not correct. Check if no hidden space available"><br>
    <label for="comment">Your message / መልእክትዎን ያስገቡ</label><br>
    <textarea id="comment" name="comment" rows="10" required></textarea>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}


