{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Comments
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h4 class="fadeout">All Comments</h4>

<table id="districts">
    <thead>
    <th>post_date</th>
    <th>phone</th>
    <th>email</th>
    <th>comment</th>
    <th>delete</th>
    </thead>
    {% for data in datas['result'] %}
    <tr>
        <td>{{ data['post_date']['$date']}}</td>
        <td>{{ data['phone']}}</td>
        <td><a href="#" onclick="replay_email('{{ data['email']}}')">{{ data['email']}}</a></td>

        <td>{{data['comment']}}</td>
        <td><a href="#" onclick="delete_comment('{{ data['_id']['$oid']}}')"><i
                class="delete fa fa-close">delete</i></a></td>
    </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/comments.js') }}"></script>

{% endblock %}


