{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Districts
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h4 class="fadeout">All Districts</h4>

<form action="/districts" method="GET">
    <input type="text" id="region" name="region" placeholder="Enter Region Name">
    <input type="submit" value="&#128270;Click to search"/>
</form>

<table id="districts">
    <thead>
    <th>district_id</th>
    <th>City</th>
    <th>Region</th>
    <th>Zone</th>
    <th>Wereda</th>
    </thead>
    {% for data in datas['result'] %}
    <tr>
        <td><a href="/districts_update/{{ data['district_id']}}">{{ data['district_id']}} <i class="fa edit_icon">
            &ensp;&#xf040;edit</i></a></td>
        <td>{{data['city']}}</td>
        <td>{{data['region']}}</td>
        <td>{{data['zone']}}</td>
        <td>{{data['wereda']}}</td>
          <td> <a href="#" onclick="delete_district({{data['district_id']}})"><i class="delete fa fa-close">delete</i></a></td>
  </tr>
    {% endfor %}
</table>
<br><br>
<a class="add" href="/districts_new">Add new Districts / አዲስ ቦታ ለመመዝገብ</a>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/districts.js') }}"></script>

{% endblock %}


