{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
District Update
{% endblock %}

{% block content %}
<a href="/districts"> << back to districts page</a>

<h4 class="fadeout">Update District</h4>
<span class="orange">District_id : {{data['district_id']}}</span>
<form method="POST">
    <label for="city">City Name / ከተማ ስም</label><br>
    <input type="text" id="city" name="city" value="{{data['city']}}"><br>
    <label for="region">Region Name / ክልል ስም</label><br>
    <input type="text" id="region" name="region" value="{{data['region']}}"><br>
    <label for="zone">Zone Name / ዞን ስም</label><br>
    <input type="text" id="zone" name="zone" value="{{data['zone']}}"><br>
    <label for="wereda">Wereda Name/ ወረዳ ስም</label><br>
    <input type="text" id="wereda" name="wereda" value="{{data['wereda']}}"><br>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}

