{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
District New
{% endblock %}

{% block content %}
<a href="/districts"> << back to districts page</a>

<h4 class="fadeout">New District</h4>

<form action="/districts_new" method="POST">
    <label for="city">City Name / ከተማ ስም</label><br>
    <input type="text" id="city" name="city"><br>
     <label for="region">Region Name / ክልል ስም</label><br>
    <input type="text" id="region" name="region"><br>
    <label for="zone">Zone Name / ዞን ስም</label><br>
    <input type="text" id="zone" name="zone"><br>
    <label for="wereda">Wereda Name/ ወረዳ ስም</label><br>
    <input type="text" id="wereda" name="wereda"><br>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}

