{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Employee New
{% endblock %}

{% block content %}
<a href="/organizations_update"> << back to organization page</a>
<br>
<label>
<h4 class="fadeout">Add New Employee</h4>
    <form class="columnone" action="/employees_new" method="POST">

        <label for="email">Employee Email/ የሰራተኛው ኢሜል</label><br>
        <input type="email" id="email" name="email"
               title="eemail format not correct. Check if no hidden space available" required><br>

        <label for="password">Password / ሚስጥር ቁልፍ</label><br>
        <input type="password" id="password" name="password" required pattern="^\S+$"><br>

        <label for="confirm_password">Confirm again / እንደገና ያስገቡ</label><br>
        <input type="password" id="confirm_password" required pattern="^\S+$"><br>
        <hr>
        <input type="submit" value="Register - መዝግብ"/>

    </form>
</label>
<script type="text/javascript" src="{{ url_for('static', filename='js/employees.js') }}"></script>

{% endblock %}


