{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Fail
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="columnone" style="color:red">

    <h2 style="color:Red">
        {% if title %}
        {{title}}
        {%else%}
        Failed (አልተቻልም!)
        {%endif%}
    </h2>
    {% if body %}
    {% for key, value in body.items() %}
    <u>{{key}}</u> &#8594; <span class="orange"> {{value}}</span><br>
    {% endfor %}
    {% endif %}
    {%if msg %}
    {{ msg }}
    {% endif %}
</div>
<hr>
{% endblock %}

