{% extends 'layout.html' %}
{% set active_page = "menu_organizations" %}

{% block title %}
List of Organizations
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css"
      xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block content %}

<h4 class="fadeout">Book New Appointment (For Customers)</h4>
<div class="columnone">
    <label class="fadeout">Search organization by:</label><br>
    <input type="radio" name="search_by" value="district_id" checked><big
        class="fadeout">{{_('City')}}&emsp;</big></input>
    <input type="radio" name="search_by" value="category_id"><big class="fadeout">{{_('Organization
    Type')}}</big></input>

    <br>
    <select id="search1">
    </select>
</div>

<br>
<input list="organization_datalist" id="organization_search" class="search_box" autoComplete="on"
       placeholder="&#128270;{{_('select org. here...')}}?">
<datalist id="organization_datalist"></datalist>
<div id="organization_info" class="fadeout">
    <p id="address"></p>
</div>
<hr>
<form action="/appointments_post" method="POST">
    <label for="service_list"><span class='fadeout'>{{_('Select Service you want to apply')}}</span><br>
        <select id="service_list" name="service_id" size='5' required></select>
    </label><br>
    <label for="service_info" class="fadeout">
        <div id="service_info">
            <p id="service_desc"></p>
            <p id="service_holidays" hidden></p>
            <p id="service_requirements"></p>
        </div>
    </label>


    <div class="columnone" id="calendar_mode">
        <label class="fadeout">Select Calendar Mode:</label><br>
        <input type="radio" name="calendar_mode" value="ethiopian"><big
            class="fadeout">{{_('Ethiopian')}} &emsp;</big></input>
        <input type="radio" name="calendar_mode" value="western"><big class="fadeout">{{_('Western')}}</big></input>
        <hr>
    </div>
    <br>
    <label for="month_list"><span class="fadeout">{{_('Select Month')}}</span> <br>
        <select id="month_list" name="m" size='5' required></select>
    </label>

    <label for="day_list" align="left"><span class="fadeout">{{_('Select Date')}}</span><br>
        <select id="day_list" name="d" size='5' required></select>
    </label>
    <label for="time_list" align="left"><span class="fadeout">{{_('Select Time')}}</span><br>
        <select id='time_list' name="t" size='5' required>
        </select>
    </label><br>

    <label for="customer_info" class="fadeout">{{_('About You')}}<br>
        <p id="complete_date"></p>
        <div class="columnone" id="customer_info">
            <label for="fullname" left>{{_('Full Name')}}</label><br>
            <input type="text" id="fullname" name="fullname" pattern="^.*\w+.*$" title="should be full name"
                   required><br>
            <label for="phone">{{_('Phone Number')}} </label><br>
            <input type="number" id="phone" name="phone" pattern="^(^\+251|^251|^0)?9\d{8}$"
                   title="phone number should like 251910802032"><br>
            <hr>
            <input type="submit" id="book_appointment_id" value="{{_('Submit')}}">
        </div>
    </label>
    <input type="hidden" name="organization_id" required>
    <input type="hidden" name="organization_name" required>
    <input type="hidden" name="organization_address" required>
    <input type="hidden" name="organization_city" required>
    <input type="hidden" name="organization_phone" required>
    <input type="hidden" name="organization_email" required>
    <input type="hidden" name="complete_date" required>
    <input type="hidden" name="address" required>
    <input type="hidden" name="year_day" required>
</form>

<a id="my_appointments" href="/appointments_status_page">{{_('View my Appointments')}}</a>

{% endblock %}

{% block script %}

<script type="text/javascript" id="today_year_day">{{ today_year_day }}</script>
<script type="text/javascript" id="local-time-data">{{ local_time| tojson }}</script>
<script type="text/javascript" id="categories-data">{{ body_categories | tojson }}</script>
<script type="text/javascript" id="districts-data">{{ body_districts | tojson }}</script>
<script type="text/javascript" id="organizations-data">{}</script>
<script type="text/javascript" id="services-data">{}</script>
<script type="text/javascript" id="service-data">{}</script>
<script type="text/javascript" id="appointment-data">{}</script>
<script type="text/javascript" id="appointment-date-data">{}</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/appointments_calendar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>


{% endblock %}
