<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="theme-color" content="#5eb9d7"/>
    {% block styles %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,500" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css"/>
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css"/-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" type="text/css"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"/>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body class="{{ template }}">
{% include 'elements/header.html' %}

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div id="banner" class="alert alert-{{category}}">{{category}}: {{ message }}</div>
{% endfor %}

<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- The Modal -->
<div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">X</span>
        <hr>
        <div id="modal_body"></div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
<div>
    {% block script %}{% endblock %}
</div>
{% include 'elements/footer.html' %}


</body>

</html>
