{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<label>

<h4 class="fadeout">Login (For Employees Only)</h4>
<form class="columnone" action="/login" method="POST">
    <label for="email">Email / ኢሜል</label><br>
    <input type="email" id="email" name="email" title="email format not correct. Check if no hidden space available"><br>
    <label for="password">Password / የይለፍ ቃል</label><br>
    <input type="password" id="password" name="password"><br>
    <hr>
    <input type="submit" value="Login - ግባ"/>

</form>
</label>
<br>
<br>
<hr>
<a class="add animate" href="/organizations_new">+Register New Organization Here</a>

{% endblock %}



