{% extends 'layout.html' %}
{% set active_page = "menu_organizations" %}

{% block title %}
List of Organizations
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<h4 class="fadeout">{{_('Register New Organization')}}</h4>

<hr>

<label class="columnone" for="email_new">
    <label class="fadeout"><u>Step 1 of 3:</u></label>
    <p class="fadeout">Enter Valid Organization Email and click send to get new PIN-CODE</p>
<input type="email" id="email_new" name="email_new" title="invalid email">
<label><button class="animate" onclick="email_new_pincode()">{{_('SEND ME NEW PIN-CODE')}}</button></label>
</label>

<p id="confirm_email_sent_message" class="green"></p>

<label class="columnone" for="confirm_pincode">
    <label class="fadeout"><u>Step 2 of 3:</u></label>

    <p class="fadeout">Enter the PIN-CODE and click confirm</p>
    <input type="text" class="animate" id="confirm_pincode" title="invalid pincode check pincode from your email"
           pattern="^\S+\d+$" placeholder="{{_('Insert the PIN-CODE')}}" .. required>
    <label><button class="animate" onclick="confirm_pincode_to_email()">{{_('CONFIRM PIN-CODE')}}</button></label>
    <br>
    <p id="confirm_pincode_fail_message" class="red"></p>

</label>


<form id="form" action="/organizations_new" method="post">
    <label class="fadeout"><u>Step 3 of 3:</u></label>
    <p class="fadeout">Fill out the bellow organization information and submit to create your organization</p>
    <label for="category_id" class="fadeout">{{_('Org. Type')}}:<br>
        <select id="category_id" name='category_id' size='5' required>
            {% for data in body_categories['result'] %}
            <option value={{data['category_id']}} title="{{data['name']}} - {{data['desc']}}">{{data['name']}}</option>
            {% endfor %}
            <option class="orange" value="-1"
                    title="You can register new organization type, if you do not find a matching one from the list. ">
                --{{_('add new')}}--
            </option>
        </select>
    </label>
    <label for="district_id" class="fadeout">{{_('Org. City')}}:<br>
        <select id="district_id" name='district_id' size='5' required>
            {% for data in body_districts['result'] %}
            <option value="{{data['district_id']}}"
                    title="{{data['city']}} -{{data['region']}}-{{data['zone']}}-{{data['woreda']}}">{{data['city']}}
            </option>
            {% endfor %}
            <option class="orange" value="-1"
                    title="You can register new city, if you do not find a matching one from the list. ">--{{_('add
                new')}}--
            </option>
        </select>
    </label><br>

    <label for="name" class="fadeout">{{_('Org. Name:')}}</label><br>
    <input type="text" id="name" name="name" required pattern="^\S.*$"><br>
    <label for="address" class="fadeout">{{_('Org. street')}}:</label><br>
    <input type="text" id="address" name="address" value="" placeholder="{{_('Street')}}..." required
           pattern="^\S.*$"><br>
    <label for="phone" class="fadeout">{{_('Org. Phone')}}:</label><br>
    <input type="number" id="phone" name="phone" required pattern="^(^\+251|^251|^0)?9\d{8}$"
           title="phone number should like 251910802032"><br>

    <hr>

    <label for="email" class="fadeout">{{_('Login Name')}}: </label>
    <span id='email' class="green"></span><br>
    <label for="password" class="fadeout">{{_('Password')}}</label><br>
    <input type="password" id="password" name="password" pattern="^\S+$" required><br>
    <label for="confirm_password" class="fadeout">{{_('Confirm password')}}</label><br>
    <input type="password" id="confirm_password" required><br>

    <input type="hidden" id="pincode" name="pincode" required>
    <hr>
    <input type="submit" value="{{_('Save')}}">

</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/organizations_new_page.js') }}"></script>

{% endblock %}
