{% extends 'layout.html' %}
{% set active_page = "menu_organizations" %}

{% block title %}
List of Organizations
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}

<hr>
<h4 class="fadeout">Organization Details, Services & Employees</h4>
<div class="columnone">
    <p class="fadeout">
        {{body_organization['name']}}, {{body_organization['category_name']}}<br>
        {{body_organization['address']}}<br>
        {{body_organization['phone']}} | {{body_organization['email']}}<br>
        {{body_organization['city']}}, {{body_organization['region']}}, {{body_organization['zone']}},
        {{body_organization['woreda']}}<br>

        {{body_organization['desc']}}<br>
        {{body_organization['search_text']}}<br>
    </p>
    <form id="organization_info_form" method="post">

        <label for="name">Organization Full Name:</label><br>
        <input type="text" id="name" name="name" value="{{body_organization['name']}}"><br>
        <label for="address">Address (street / pobox):</label><br>
        <input type="text" id="address" name="address" value="{{body_organization['address']}}"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="{{body_organization['email']}}"><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" value="{{body_organization['phone']}}"><br>

        <label for="category_id">category_id:</label><br>
        <select id="category_id" name="category_id">
            {% for data in body_categories %}
            {% if data['category_id'] ==body_organization['category_id'] %}
            <option value="{{ data['category_id']}}" title="{{data['name']}} - {{data['desc']}}" selected>
                {{data['name']}}
            </option>
            {% else %}
            <option value="{{ data['category_id']}}" title="{{data['name']}} - {{data['desc']}}">
                {{data['name']}}
            </option>
            {% endif %}
            {% endfor %}
        </select><br>

        <label for="district_id">district_id:</label><br>
        <select id="district_id" name="district_id">
            {% for data in body_districts %}
            {% if data['district_id'] ==body_organization['district_id'] %}
            <option value="{{ data['district_id']}}"
                    title="{{data['city']}} -{{data['region']}}-{{data['zone']}}-{{data['woreda']}}" selected>
                {{data['city']}}
            </option>
            {% else %}
            <option value="{{ data['district_id']}}"
                    title="{{data['city']}} -{{data['region']}}-{{data['zone']}}-{{data['woreda']}}">
                {{data['city']}}
            </option>
            {% endif %}
            {% endfor %}
        </select><br>

        <label for="desc">Description about your org. (optional):</label><br>
        <textarea id="desc" name="desc" rows="2" cols="50"
                  title="Is about your organization">{{body_organization['desc']}}</textarea>
        <label for="search_text">Key words used for searching your org.(optional)</label><br>
        <textarea id="search_text" name="search_text" row="2" cols="50"
                  title="Key words will help your org to be searched by customers">{{body_organization['search_text']}}</textarea><br>
        <br>
        <input type="submit" value=" save changes / አስተካክል ">
    </form>
    <span class="add animate fa fa-edit" id="enable_edit_organization_info"> Edit org. info</span><br>
</div>

<h4 class="fadeout">Organization Services ({{body_services|count}})</h4>
<div class="columnone">
    <div id="requirements_div">
        {% for service in body_services %}
        <p>
            <span name='delete_service' class="close" title='delete' service_id="{{service['service_id']}}"
                  service_name="{{service['name']}}"> x <small></small></span>
            <a href="services_update/{{service['service_id']}}" class="fa fa-edit"> {{service['name']}}</a><small></small>
        </p>
        {% endfor %}

        {% if not body_services %}
        <p> You should add at least one service here. where customers can book appointment. You may name it "Any Service" if you do not have more than one. Reason is our system allows customers to book appointment to service label, not to organization label</p><br>
        {% endif %}

        <span class="add animate" id="add_new_service">+ Add New Service</span>
        <hr>
    </div>
</div>

<h4 class="fadeout">Organization Employees({{body_users|count}})</h4>
<div class="columnone">
    <div id="users_div">
        {% for user in body_users %}
        <p>
            <span name='delete_user' class="close" title='delete' user_id="{{user['user_id']}}"
                  user_name="{{user['email']}}"> x <small></small></span>
            <a href="users_update/{{user['user_id']}}" class="fa fa-edit"> {{user['email']}}</a><small>({{user['access']}}-user)</small></a>
        </p>
        {% endfor %}

        <span class="add animate" id="add_new_user">+ Add New User</span>
        <hr>
    </div>

</div>
 <span name='delete_organization' class="close" organization_id="{{body_organization['organization_id']}}"  organization_name = "{{body_organization['name']}}" title='delete organization record, to undo you should contact this site managers'> x <small>delete this org entirely</small></span>
{% endblock %}

{% block script %}


<script type="text/javascript" src="{{ url_for('static', filename='js/organizations_page.js') }}"></script>

{% endblock %}
