{% extends 'layout.html' %}
{% set active_page = "menu_organizations" %}

{% block title %}
List of Organizations
{% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
<h4 class="fadeout">View Organization Appointments </h4>

<span for="organization_info" class="fadeout">
<div id="organization_info" class="columnone">
    <p>({{ body_organization['organization_id'] }})
        {{ body_organization['name'] }}<br>
        {{ body_organization['desc'] }}<br>
        {{ body_organization['category_name'] }}<br>
        {{ body_organization['city'] }},
        {{ body_organization['wereda'] }},
        {{ body_organization['zone'] }},
        {{ body_organization['region'] }}, <br>
        {{ body_organization['phone'] }} |
        {{ body_organization['email'] }}<br>
    </p>
    <input type="text" id="organization_id" value="{{ body_organization['organization_id'] }}"
           hidden>

    <p for="phone"><u>Search any appointment by phone</u></p>
    <input type="number" id="phone" name="phone" value="{{ phone }}"
           placeholder="{{_('phone')}}">
    <input type="button" onclick="search_appointment_by_phone()" value="&#128270;Search"/>
    <p id="search_by_phone_result" class="orange"></p>
</div>
</span>

<label for="service_list"><span class="fadeout">Select Service</span><br>
    <select id="service_list" name="service_id" size='5'>
        {% for service in body_services %}
        <option value="{{service['service_id']}}">{{service['name']}}</option>
        {% endfor %}
    </select>
</label><br>
<label for="service_info" class="fadeout">
    <div id="service_info">
        <p id="service_desc"></p>
        <label for="service_holidays" hidden><u>No service days / አገልግሎቱ ማይሰጥበት ቀናት</u></label>
        <p id="service_holidays" hidden></p>
        <label for="service_requirements"><u>Service Requirements / የአገልግሎቱ መስፈርት</u></label>
        <p id="service_requirements"></p>
    </div>
</label>
<br>

<div class="columnone" id="calendar_mode">
    <label class="fadeout">Select Calendar Mode:</label><br>
    <input type="radio" name="calendar_mode" value="ethiopian"><big
        class="fadeout">{{_('Ethiopian')}} &emsp;</big></input>
    <input type="radio" name="calendar_mode" value="western"><big class="fadeout">{{_('Western')}}</big></input>
    <hr>
</div>
<br>
<label for="month_list"><span class="fadeout">{{_('Select Month')}}</span> <br>
    <select id="month_list" name="m" size='5' required></select>
</label>

<label for="day_list" align="left"><span class="fadeout"> {{_('Select Date')}}</span><br>
    <select id="day_list" name="d" size='5'></select>
</label><br>
<label for="time_list" align="left"><span class="fadeout"> {{_('Booked list')}}</span><br>
    <table id='time_list'>
        <thead>
        <th>Time <br/>ስዓት</th>
        <th>Max. capability<br/>የማስተናገድ አቅም</th>
        <th>Open slots<br/>ክፍት ቦታዎች</th>
        <th>Applicants<br/>የተቀጠሩት ዝርዝር</th>
        </thead>
        <tbody></tbody>

    </table>
</label>
<input type="hidden" name="organization_id" required>
<input type="hidden" name="organization_name" required>
<input type="hidden" name="organization_address" required>
<input type="hidden" name="organization_city" required>
<input type="hidden" name="organization_phone" required>
<input type="hidden" name="organization_email" required>
<input type="hidden" name="address" required>
{% endblock %}

{% block script %}

<script type="text/javascript" id="local-time-data">{{ local_time | tojson }}</script>
<script type="text/javascript" id="organization-data">{{ body_organization | tojson }}</script>
<script type="text/javascript" id="services-data">{{ body_services | tojson }}</script>
<script type="text/javascript" id="service-data">{}</script>

<script type="text/javascript" id="appointment-data">{}</script>
<script type="text/javascript" id="appointment-date-data">{}</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/appointments_calendar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/organizations_appointment_page.js') }}"></script>

{% endblock %}
