{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Districts
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h4 class="fadeout">All Organizations</h4>

<form action="/organizations" method="GET">
    <input type="text" id="region" name="region" placeholder="Enter Region Name">
    <input type="submit" value="&#128270;Click to search"/>
</form>

<table id="organizations">
    <thead>
    <th>organization_id</th>
    <th>name</th>
    <th>phone</th>
    <th>email</th>
    <th>category_name</th>
    <th>city</th>
    <th>delete</th>
    </thead>
    {% for data in datas['result'] %}
    <tr>
        <td><a href="/organizations_update/{{ data['organization_id']}}">{{ data['organization_id']}} <i
                class="fa edit_icon">
            &ensp;&#xf040;edit</i></a></td>
        <td>{{data['name']}}</td>
        <td>{{data['phone']}}</td>
        <td>{{data['email']}}</td>
        <td>{{data['category_name']}}</td>
        <td>{{data['city']}}</td>
        <td><span name='delete_organization' organization_id="{{data['organization_id']}}"
               organization_name="{{data['name']}}"><i class="delete fa fa-close">delete</i></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
<br><br>
<a class="add" href="/organizations_new">Add new Organization</a>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/organizations_page.js') }}"></script>

{% endblock %}


