{% extends 'layout.html' %}
{% set active_page = "menu_organizations" %}

{% block title %}
List of Organizations
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<a href="/organizations_update"> << back to organization page</a>

<h4 class="fadeout">Updating service &#8594; {{data['name']}}</h4>

<hr>

<form action="/services_update/{{data['service_id']}}" method="post">
    <label for="name" class="fadeout">Service Name</label><br>
    <input type="text" id="name" name="name" value="{{data['name']}}"><br><br>

    <label for="desc" class="fadeout">About the service <span class="orange">(optional)</span> </label><br>
    <textarea id="desc" name="desc" rows="4">{{data['desc']}}</textarea><br><br>


    <span class="fadeout">Add service requirements</span>
    <div id="requirements_div" class="columnone">
        <p class="orange">Requirements listed here will be notified to your customer on booking time.<br>
            So that they will know what they must bring during their appointment date</p>
        {% for d in data['requirements'] %}
        <label>
            <span class="remove_parent" title='delete'>x</span>
            <input type='text' name='requirements' value="{{ d }}" hidden> {{ d }}
        </label>

        {% endfor %}
        <span class="add animate" id="add_new_requirements">+Add requirement</span>
        <hr>
    </div>
    <br>

    <label for="exclude_weekdays" class="fadeout">Select closed weekdays and months </label>
    <div id="exclude_weekdays" class="columnone">
        {% for weekday, local_weekday in weekdays.items() %}
        <span>
        <input type="checkbox" name="{{weekday}}" value=1 {% if weekday in data["exclude_weekdays"] %} checked {% endif
        %} >{{_(weekday[:3])}}&nbsp; &nbsp;
            </span>
        {% endfor %}
        <p class="orange">Select closed months (Western calender)</p>
        {% for month, value in months.items() %}
        <span>
        <input type="checkbox" name="{{month}}" value=1 {% if month in data["exclude_months"] %} checked {% endif
        %} >{{month[:3]}}&nbsp; &nbsp;
        </span>
        {% endfor %}
        <p class="orange">አገልግሎቱ ማይሰጥባቸውን ወራቶች ይምረጡ (በ ኢትዮጵያውያን አቆጣጥር)።</p>
        {% for month in ['መስከረም', 'ጥቅምት', 'ህዳር', 'ታህሳስ', 'ጥር', 'የካቲት', 'መጋቢት', 'ሚያዚያ', 'ግንቦት', 'ሰኔ', 'ሃምሌ', 'ነሃሴ',
        'ጷጉሜ'] %}
        <span>
            <input type="checkbox" name="{{month}}" value=1 {% if month in data["exclude_months_local"] %} checked {%
        endif
        %} >{{month}}&nbsp; &nbsp;
            </span>
        {% endfor %}

    </div>


    <label class="fadeout">Add special holidays like new year here</label>
    <div id="holidays_div" class="columnone">
        {% for d in data['holidays'] %}
        <label>
            <span class="remove_parent" , title='delete'>x</span>
            <input type='text' name='holidays' value="{{ d }}" hidden>{{ d }}
        </label>

        {% endfor %}
        <span class="add animate" id="add_new_holidays">+Add no service day</span>
        <hr>
    </div>
    <br>


    <label class="fadeout">Update how many customers you serve  in 30minutes interval<br>በየ 30 ደቂቃ ውስጥ ምን ያህል ደንበኛ እንደሚያስተናግዱ ከታች ያስተካክሉ</label>
    <div id='appointment_time_id'>
        {% for time, local_time in local_time.items() %}
        <label class="fadeout">{{local_time}} ({{time.replace('t', '').replace('_am', ' am').replace('_pm',
            ' pm').replace('_', ':')}})&nbsp;</label>
        <input type="number" id="{{time}}" name="{{time}}" value={{data['capacity'][time]}} min=0 size="4"><br>
        {% endfor %}

    </div>

    <hr>
    <input type="submit" value="Save Changes">

</form>
{% endblock %}

{% block script %}


<script type="text/javascript" src="{{ url_for('static', filename='js/services_page.js') }}"></script>

{% endblock %}
