{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Settings
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}" type="text/css"/>

{% endblock %}
{% block content %}
<h4 class="fadeout">Settings Page</h4>
<hr>

<table>
 <tr>
  <td><h3>Calendar</h3> </td>
  <td>
   <p>This will update:<br>
   New year start weekday of both Western and Ethiopian time<br>
   Will identify passed months and update them for next year</p>
  </td>
  <td><a href="#" onclick="post_calendar()"><i class="delete fa fa-refresh"> Update Calender</i></a></td>
 </tr>
</table>



{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}


{% endblock %}



