{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Success
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<a href="/"><< back to appointment page - ወደ ቀጠሮ መያዣ ለመመለስ</a>
<div class="columnone">

    <h2 style="color:Green">
        {% if title %}
        {{title}}
        {%else%}
        Successfully-processed (ዝግቧል!)
        {%endif%}
    </h2>
    <br>
    </hr>
    {% if resp_dic %}
    {% for key, value in resp_dic.items() %}
    <u>{{key}}</u> &#8594; <span class="orange"> {{value}}</span><br>
    {% endfor %}
    {% endif %}

    </hr>
    {% if resp_list %}
    <ui class="checkmark">
        {% for value in resp_list %}
        <li>&#10004;{{value}}</li>
        {% endfor %}
    </ui>
    {% endif %}

    <br>
    {%if msg %}
    {{ msg }}
    {% endif %}
</div>
<hr>
<span class="add animate" id="print" onclick="window.print();">Print this page - ፕሪንት ለማረግ</span>

{% endblock %}
