{% extends 'layout.html' %}
{% set active_page = "menu_index" %}

{% block title %}
Under Construction
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<center>
  <h1>ገና እየተሰራ ነው!</h1>
{% endblock %}
</center>
