<!-- Site footer -->
<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify orange">{{ about() }}
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/comments_post">{{_('Text to us')}}</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="partner-logo">
            <img src="{{ url_for('static', filename='images/habesha-school.png') }}" height="30px" , width="200px">
        </div>
    </div>
    <div class="social-div">
        <p class="copyright-text">Copyright &copy; 2021 | Software by Codifire | All Rights Reserved <br>(US)+1-301-792-9864
            <br>(Et)+251-91082032
        </p>
        <ul class="social-icons">
            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>