<div class="menu_bar">
    <canvas id="canvas"></canvas>
    <a href="#" class="menu_span no_wrap fa fa-home" onclick="openCustomerNav(); return false;">{{_('Customers')}}</a>

    {% if request.cookies.get('Bearer', '') != '' and request.cookies.get('Email', '') != '' and
    request.cookies.get('Access', '') == 'system'%}
    <a href="#" class="menu_span no_wrap fa fa-bars" onclick="openSystemNav(); return false;">{{request.cookies.get('Email', '')}}</a>


    {% elif request.cookies.get('Bearer', '') != '' and request.cookies.get('Email', '') != '' and
    request.cookies.get('Access', '') == 'admin'%}
    <a href="#" class="menu_span no_wrap fa fa-bars" onclick="openOrgAdminNav(); return false;">{{request.cookies.get('Email', '')}}</a>

    {% elif request.cookies.get('Bearer', '') != '' and request.cookies.get('Email', '') != '' and
    request.cookies.get('Access', '') == 'user'%}
    <a href="#" class="menu_span no_wrap fa fa-bars" onclick="openOrgNoneAdminNav();return false;">{{request.cookies.get('Email', '')}}</a>

    {%else %}
    <a href="#" class="menu_span fa fa-bars" onclick="openOrgGuestNav(); return false;"> {{_('Organizations')}}</a>
    {%endif %}
    <select id="language">
        <option value="en" selected>Language</option>
        <option value="en">English</option>
        <option value="am">አማርኛ</option>
    </select>
</div>


<div id="systemNav" class="overlay">
    <label>{{_('You are System User')}}</label>
    <a href="javascript:void(0)" class="closebtn" onclick="closeSystemNav()">&times;</a>
    <div class="overlay-content">
        <a href="/organizations_appointment_page">{{_('Appointments View')}}</a>
        <a href="/districts">{{_('Districts')}}</a>
        <a href="/categories">{{_('Categories')}}</a>
        <a href="/calendar">{{_('System Setting')}}</a>
        <a href="/organizations">{{_('Organizations')}}</a>
        <a href="/comments">{{_('Comments')}}</a>
        <a href="/organizations_update">{{_('Organization Setting')}}</a>
        <a href="/logout">{{_('Logout')}}</a>
    </div>
</div>


<div id="orgAdminNav" class="overlay">
    <label>{{_('You are Admin User')}}</label>
    <a href="javascript:void(0)" class="closebtn" onclick="closeOrgAdminNav()">&times;</a>
    <div class="overlay-content">
        <a href="/organizations_appointment_page">{{_('Appointments View')}}</a>
        <a href="/organizations_update">{{_('Organization Setup')}}</a>
        <a href="/employees_new">{{_('Add New Employees')}}</a>
        <a href="/logout">{{_('Logout')}}</a>
    </div>
</div>

<div id="orgNoneAdminNav" class="overlay">
    <label>{{_('You are Employee')}}</label>
    <a href="/organizations_appointment_page">{{_('Appointments View')}}</a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeOrgNoneAdminNav()">&times;</a>
    <div class="overlay-content">
        <a href="/logout">{{_('Logout')}}</a>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}"></script>


<div id="orgGuestNav" class="overlay">
    <label>{{_('You are Guest User')}}</label>
    <a href="javascript:void(0)" class="closebtn" onclick="closeOrgGuestNav()">&times;</a>
    <div class="overlay-content">
        <a href="/organizations_new">{{_('Create New Organization')}}</a>
        <a href="/login">{{_('Login')}}</a>
    </div>
</div>


<div id="customerNav" class="overlay">
    <label>{{_('You are a customer booking appointments')}}</label>
    <a href="javascript:void(0)" class="closebtn" onclick="closeCustomerNav()">&times;</a>
    <div class="overlay-content">
        <a href="/">{{_('Book New Appointment')}}</a>
        <a href="/appointments_status_page">{{_('View My Appointments')}}</a>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}"></script>
